@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/poppins-v23-latin-regular.woff2') format('woff2');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #ffffff;
    --clr-offWhite: #f3f3ec;
    --clr-green: #297529;
    --clr-darkGreen: #035b03;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: var(--clr-offWhite);
}
::-webkit-scrollbar-thumb {
    background-color: var(--clr-green);
    border-radius: 5px;
    border: var(--clr-offWhite) solid 2px;
}
body {
    width: 100%;
    height: 100vh;
    color: var(--clr-white);
    font-family: 'Poppins', sans-serif;
    background: rgb(51,147,51);
    background: radial-gradient(circle, rgb(57, 138, 57) 35%, rgba(5,106,5,1) 75%);
    cursor: default;
}
.logo {
    width: 100%;
    height: 100vh;
}
.logo img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    max-width: 95%;
    margin: 0 auto;
    height: auto;
}
.wrapper {
    padding: 2rem;
    max-width: 90rem;
}
.opening-times {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.opening-times table {
    text-transform: capitalize;
    font-size: clamp(1rem, 3vw, 1.1rem);
    letter-spacing: .5px;
    text-align: left;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
.opening-times thead tr th {
    background-color: var(--clr-darkGreen);
    font-weight: 400;
    padding: .5rem 0 .5rem .45rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.opening-times tbody {
    text-align: left;
    background-color: var(--clr-darkGreen);
}
.opening-times tbody td {
    padding: .5rem 0 .5rem .45rem;
    font-weight: 400;
}
.reservations {
    margin-left: 2rem;
    line-height: 1.6;
}
.reservations h1 {
    text-transform: capitalize;
    font-size: clamp(1.1rem, 3vw, 1.3rem);
    letter-spacing: 1px;
    margin: 0 auto 20px;
    text-decoration: underline;
    text-underline-offset: .5rem;
}
.reservations .contact ul li {
    list-style: none;
    margin: 20px auto;
}
.reservations .contact ul li i {
    margin-right: 1rem;
}
.menu h2 {
    text-transform: capitalize;
    font-size: clamp(1.1rem, 3vw, 1.3rem);
    letter-spacing: 1px;
    margin: 20px auto 15px;
    padding: .5rem 0 .5rem .45rem;
    text-decoration: underline;
    text-underline-offset: .5rem;
}
.menu .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.menu .dishes {
    padding: .5rem;
    background-color: var(--clr-darkGreen);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}
.menu .dishes h3 {
    text-transform: capitalize;
    letter-spacing: .5px;
    font-weight: 400;
}
.menu .dishes p {
    font-size: clamp(1rem, 3vw, 1rem);
    line-height: 1.6;
    font-weight: 300;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'about-img about-content'
    'entertainment-content entertainment-img';
    gap: 2rem;
    margin: 3rem auto 0;
}
.grid-container .about.img {
    grid-area: about-img;
}
.grid-container .about.content {
    grid-area: about-content;
}
.grid-container .entertainment.img {
    grid-area: entertainment-img;
}
.grid-container .entertainment.content {
    grid-area: entertainment-content;
}
.grid-container img {
    width: 100%;
    height: auto;
    box-shadow: -4px 3px 20px rgba(0, 0, 0, 0.3);
}
.grid-container h2 {
    text-transform: capitalize;
    font-size: clamp(1.1rem, 3vw, 1.3rem);
    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-offset: .5rem;
}
.grid-container p {
    margin: 13px auto;
}
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: left;
    width: 100%;
    padding: 1rem 0 1.5rem 2rem;
    height: auto;
    background: var(--clr-darkGreen);
}
footer .links h3 {
    font-size: clamp(1rem, 3vw, 1.025rem);
    font-weight: 400;
    color: var(--clr-offWhite);
    text-transform: capitalize;
    margin-bottom: .5rem;
    letter-spacing: 1px;
    opacity: 95%;
}
footer .links ul li {
    color: var(--clr-offWhite);
    font-size: clamp(.8rem, 3vw, .9rem);
    font-weight: 300;
    text-transform: capitalize;
    list-style: none;
    margin: 10px auto 0;
    letter-spacing: .5px;
}
footer .links ul li i {
    margin-right: .3rem;
}
@media screen and (max-width: 1250px) {
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .opening-times {
        grid-template-columns: 1fr;
    }
    .reservations {
        margin: 3rem 0 0 .5rem;
    }
    .menu .content {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'about-img about-img'
        'about-content about-content'
        'entertainment-img entertainment-img'
        'entertainment-content entertainment-content';
        margin: 3rem auto 0;
    }
    .grid-container h2 {
        margin: 20px auto;
    }
    footer {
        grid-template-columns: repeat(2, 1fr);
        justify-items: left;
        gap: 1.5rem;
    }
}
@media screen and (max-width: 658px) {
    .menu .content {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}
@media screen and (max-width: 430px) {
    .reservations .contact ul li span:nth-child(2) {
        display: block;
    }
    footer {
        grid-template-columns: 1fr;
        justify-items: left;
        gap: 1.25rem;
    }
}
@media screen and (max-width: 950px) and (orientation: landscape) {
    .logo img {
        width: 300px;
    }
}